<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPŠD - Uhádni Programovací Jazyk</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="game-container">
        <h1>Uhádni Programovací Jazyk</h1>
        <div id="image-container">
            <img id="code-image" src="" alt="Code Image">
        </div>
        <div id="options-container"></div>
        <p id="result"></p>
        <button id="next-button" style="display: none;">Další</button>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>