<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon...</title>
    <link rel="stylesheet" href="/static/css/coming_soon.css">
    <link rel="icon" href="/static/images/icon.webp">
</head>
<body>
    <!-- Container for Content -->
    <div class="container">
        <h1>Coming Soon...</h1>
        <p>Something amazing is on its way. Stay tuned!</p>
        <a href="/" class="home-button">Zpět</a>
    </div>
</body>
</html>
