<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPŠD - Main Menu</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="/static/images/icon.webp">
</head>
<body>
  <!-- Header -->
  <header class="topbar">
    <div class="brand">
      <img src="/static/images/icon.webp" alt="Logo" class="logo">
      <h1 class="site-title">Hlavní Menu</h1>
    </div>
  </header>

  <!-- Main Content -->
  <main class="cover-grid">
    <!-- Cover 1 -->
    <a class="cover-block" href="/mhd_guesser" style="--bg-url: url('/static/images/games/mhd_guesser.webp');">
      <div class="cover-overlay"></div>
      <div class="cover-text">
        <h2>MHD Guesser</h2>
      </div>
    </a>
    <!-- Cover 2 -->
    <a class="cover-block" href="/code_guesser" style="--bg-url: url('/static/images/games/code_guesser.webp');">
      <div class="cover-overlay"></div>
      <div class="cover-text">
        <h2>Code Guesser</h2>
      </div>
    </a>

    <!-- Cover 3 -->
    <a class="cover-block" href="/coming_soon" style="--bg-url: url('/static/images/games/coming_soon.webp');">
      <div class="cover-overlay"></div>
      <div class="cover-text">
        <h2>Již Brzy...</h2>
      </div>
    </a>
  </main>

  <!-- Footer -->
  <footer>
    <p>Spráskáno ve škole v učebně 4 &copy; 2025 Motolský Ajťáci</p>
  </footer>
</body>
</html>