<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Motolský Ajťáci</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="/static/images/icon.png" type="image/png">
</head>
<body>
  <h1>Motolský Ajťáci</h1>
  <div class="grid">
    <div class="card">
      <a href="code_guesser">
        <img src="static/images/games/code_guesser.png" alt="Code Guesser">
        <div class="card-content">
          <h2 class="card-title">Code Guesser</h2>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="public_transport_guesser">
        <!-- <img src="" alt=""> -->
        <div class="card-content">
          <h2 class="card-title">Public Transport Guesser</h2>
        </div>
      </a>
    </div>
    <div class="card">
      <div>
        <!-- <img src="" alt="Coming Soon"> -->
        <div class="card-content">
          <h2 class="card-title">Coming Soon...</h2>
        </div>
      </div>
    </div>

    <footer>
      <p>Spráskáno ve škole v učebně 4 &copy; 2025 Motolský Ajťáci</p>
    </footer>
  </div>
</body>
</html>