<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MHD Guesser</title>
  <link rel="stylesheet" href="/static/css/mhd_guesser.css">
  <link rel="icon" href="/static/images/icon.png">
</head>
<body>
  <!-- Header -->
  <header class="topbar">
    <div class="brand">
      <img src="/static/images/icon.webp" alt="Logo" class="logo">
      <h1 class="site-title">MHD Guesser</h1>
    </div>
  </header>

  <!-- Main Content -->
  <main class="cover-grid">
    <!-- Add your content here -->
    <div id="game-container">
      <h2>MHD Guesser</h2>
      <img id="question-image" src="" alt="MHD Image">
      <div id="answer-buttons">
        <button class="answer-button" data-answer="bus">Bus</button>
        <button class="answer-button" data-answer="tram">Tram</button>
        <button class="answer-button" data-answer="train">Train</button>
      </div>
      <div id="result"></div>
    </div>
  </main>

  <!-- Footer -->
  <footer>
    <p>&copy; 2025 Motolský Ajťáci</p>
  </footer>

  <script src="/static/js/mhd_guesser.js"></script>
</body>
</html>